AGENT_ENVIRONMENT=local
AGENT_REDIS_URL=redis://localhost:6379/1
AGENT_LIVEKIT_URL=ws://localhost:7880
AGENT_LIVEKIT_API_KEY=todo
AGENT_LIVEKIT_API_SECRET=todo
AGENT_PERSONA_CONFIG=config/personas/hindi_companion_v1.toml
SARVAM_API_KEY=todo
